<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/style.css">
    <title>{{title}} page</title>
</head>

<body>
    <h1>{{title}} </h1>
    <img src="../image/mypic.jpg" alt="" srcset=""><br><br><br>
    <a href="./">Weather</a>
    <a href="./help">Help</a>
    <a href="./about">About</a>
    <hr>
    <p>Created by {{name}}</p>
</body>
    <script src="../../js/client-side.js"></script>

</html>